<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.nightcoin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".ActivityMain"
            android:label="Nightcoin" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityStandardList"
            android:label="List" >
        </activity>
        <activity
            android:name=".ActivityStandardItemView"
            android:label="Location" >
        </activity>
        <activity
            android:name=".ActivityWeekplan"
            android:label="Wochenprogramm" >
        </activity>
        <activity
            android:name=".ActivityEventItemView"
            android:label="Veranstaltung" >
        </activity>
        <activity
            android:name=".ActivitySettings"
            android:label="Einstellungen" >
        </activity>
        <activity
            android:name=".UserActivity"
            android:label="@string/title_activity_user" >
        </activity>
        <activity
            android:name=".ActivityUser"
            android:label="Mein Konto" >
        </activity>
        <activity
            android:name=".ActivityCoinItemView"
            android:label="Coin" >
        </activity>
        <activity
            android:name=".ActivityDashboard"
            android:label="@string/title_activity_activity_dashboard" >
        </activity>
        <activity
            android:name=".ActivityEditPhone"
            android:label="@string/title_activity_activity_edit_phone" >
        </activity>
    </application>

</manifest>
